body {
    /* background-color: purple; */
    margin: 0 auto;
    padding: 0;
    background-color: #412770;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 

header {
    width: 100%;
    height: 220px;
    background-color: #412770;
    float: left;
}

nav {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

ul {
    display: inline;
}

li {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0 15px;
}

#nav-left-list {
    float: left;
    padding-left: 5%;
}

#nav-right-list {
    float: right;
    padding-right: 5%;
}

#site-logo-img {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #bd9fc9;
}

.cover-img {
    width: 480px;
    height: 360px;
    background-color: gray;
    margin: 20px;
}

.main-content-container {
    width: 100%;
    float: left;
    text-align: center;
}

.main-content {
    width: 1080px;
    text-align: center;
    margin: 0 auto;
}

.main-content-games-section {
    float: left;
}

.main-content-comics-section {
    float: right;
}

.white-text {
    color: white;
}

hr {
    width: 60%;
}

.nav-link-icon {
    width: 36px;
}

footer {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 150px;
}
